.left_wing
    .share__social
        script(src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
        script(src="https://yastatic.net/share2/share.js")
        .ya-share2(data-services="vkontakte,facebook,telegram" data-counter="")