.parallax-header
    .parallax-header-layer1
        .parallax-header__doctor-img1(data-speed="0.01")
            img(src="assets/images/medical/doc1.png")
        .parallax-header__doctor-img2(data-speed="0.02")
            img(src="assets/images/medical/doc2.png")
        .parallax-header__doctor-img3(data-speed="0.02")
            img(src="assets/images/medical/doc3.png")
        .parallax-header__doctor-img4(data-speed="0.03")
            img(src="assets/images/medical/doc4.png")
        .parallax-header__doctor-img5(data-speed="0.03")
            img(src="assets/images/medical/doc5.png")
    
        .parallax-header-parts1(data-speed="0.02")
            img(src="assets/images/parts2/parts1.png")
        .parallax-header-parts2(data-speed="0.02")
            img(src="assets/images/parts2/parts2.png")
        .parallax-header-parts3(data-speed="0.02")
            img(src="assets/images/parts2/parts3.png")
      
        .parallax-header-parts5(data-speed="0.01")
            img(src="assets/images/parts2/parts5.png")
        .parallax-header-parts6(data-speed="0.01")
            img(src="assets/images/parts2/parts6.png")
        
        .parallax-header-parts8(data-speed="0.03")
            img(src="assets/images/parts2/parts8.png")
        .parallax-header-parts9(data-speed="0.03")
            img(src="assets/images/parts2/parts9.png")
        .parallax-header-parts10(data-speed="0.02")
            img(src="assets/images/parts2/parts10.png")
        .parallax-header-parts11(data-speed="0.01")
            img(src="assets/images/parts2/parts11.png")
.parallax-header-parts12(data-speed="0.01")
    img(src="assets/images/parts/circle2.png")

        