.paralax
    .paralax-layer1
        img(src="assets/images/paralax/layer1.png")
    .paralax-layer2
        .paralax__doctor-img1
            img(src="assets/images/medical/doc1.png")
        .paralax__doctor-img2
            img(src="assets/images/medical/doc2.png")
        .paralax__doctor-img3
            img(src="assets/images/medical/doc3.png")
        .paralax__doctor-img4
            img(src="assets/images/medical/doc4.png")
        .paralax__doctor-img5
            img(src="assets/images/medical/doc5.png")
    .paralax-layer3
        img(src="assets/images/paralax/layer3.png")
    .paralax-layer4
        .paralax-parts1
            img(src="assets/images/parts2/parts1.png")
        .paralax-parts2
            img(src="assets/images/parts2/parts2.png")
        .paralax-parts3
            img(src="assets/images/parts2/parts3.png")
        .paralax-parts4
            img(src="assets/images/parts2/parts4.png")
        .paralax-parts5
            img(src="assets/images/parts2/parts5.png")
        .paralax-parts6
            img(src="assets/images/parts2/parts6.png")
        .paralax-parts7
            img(src="assets/images/parts2/parts7.png")
        .paralax-parts8
            img(src="assets/images/parts2/parts8.png")
        .paralax-parts9
            img(src="assets/images/parts2/parts9.png")
        .paralax-parts10
            img(src="assets/images/parts2/parts10.png")
        .paralax-parts11
            img(src="assets/images/parts2/parts11.png")