.parallax
    .parallax-layer1
        img(src="assets/images/paralax/layer1.png").layer
    .parallax-layer2
        .parallax__doctor-img1
            img(src="assets/images/medical/doc1.png")
        .parallax__doctor-img2
            img(src="assets/images/medical/doc2.png")
        .parallax__doctor-img3
            img(src="assets/images/medical/doc3.png")
        .parallax__doctor-img4
            img(src="assets/images/medical/doc4.png")
        .parallax__doctor-img5
            img(src="assets/images/medical/doc5.png")
    .parallax-layer3
        img(src="assets/images/paralax/layer3.png").layer
    .parallax-layer4
        .parallax-parts1
            img(src="assets/images/parts2/parts1.png")
        .parallax-parts2
            img(src="assets/images/parts2/parts2.png")
        .parallax-parts3
            img(src="assets/images/parts2/parts3.png")
        .parallax-parts4
            img(src="assets/images/parts2/parts4.png")
        .parallax-parts5
            img(src="assets/images/parts2/parts5.png")
        .parallax-parts6
            img(src="assets/images/parts2/parts6.png")
        .parallax-parts7
            img(src="assets/images/parts2/parts7.png")
        .parallax-parts8
            img(src="assets/images/parts2/parts8.png")
        .parallax-parts9
            img(src="assets/images/parts2/parts9.png")
        .parallax-parts10
            img(src="assets/images/parts2/parts10.png")
        .parallax-parts11
            img(src="assets/images/parts2/parts11.png")