
adapt(num) 
   @media screen and (max-width: num)
        {block}

font(f,s,c)
    font-family f
    font-size s
    color c
tran(property=all, time=.3s, anim=ease-in-out)
    transition property anim time