extends ../template

block variables
    - var title = 'Инвитро'

block content
    include ../common/left_wing.pug
    .content
        include  ../section/section-header.pug
        include  ../section/section-news.pug