@import "config/variables.styl"
@import "config/mixins.styl"


@import "layout/font.styl"
@import "layout/base.styl"
@import "layout/adjastment.styl"
@import "layout/blanks.styl"

@import "slick/slick.styl"
@import "slick/slick-theme.styl"

@import "fancybox/core.styl"
@import "fancybox/fullscreen.styl"
@import "fancybox/share.styl"
@import "fancybox/slideshow.styl"
@import "fancybox/thumbs.styl"

@import "common/left_wing.styl"
@import "common/parallax.styl"
@import "common/parallax-header.styl"


@import "section/section-first.styl"
@import "section/section-slider.styl"
@import "section/section-header.styl"
@import "section/section-news.styl"
