.content__header
    margin-top 70px
.container-home
    margin 0 auto
    padding 0 60px
    max-width 1920px
.logo-flex
    display flex
    justify-content space-between
.content__header__logo
    // width 360px
    height 60px

.img-logo
    display block
    // max-width 100%
    height 100%