.left_wing
    width 100px
    background-color left_wing
    position relative
.share__social
    display flex
    flex-direction column
    align-items center
.ya-share2__item
    display block !important
.ya-share2__badge
    border 0px solid #fff  
    background-color: transparent !important  
.ya-share2__icon
    width 50px !important
    height 50px !important
    border 1px solid #fff