.parallax-header
    position absolute
    overflow hidden
    width 1000px
    top 0
    left 50%
    transform translateX(-50%)
    height 650px
    +adapt(1200px)
        width 100%
    +adapt(992px)
        display none
.parallax-header-layer1
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    z-index 0
    img
        display block
        max-width 100%
       
.parallax-header__doctor-img1
    position absolute
    z-index 10
    bottom 20px
    left 37%
    // left 50%
    // transform translate(-50%)
    width 250px
    z-index 50
        
.parallax-header__doctor-img2
    position absolute
    z-index 10
    width 200px
    z-index 40
    top 40%
    right 24%
   
.parallax-header__doctor-img3
    position absolute
    z-index 10
    width 200px
    z-index 40
    top 40%
    left 26%
    
.parallax-header__doctor-img4
    position absolute
    z-index 10
    width 200px
    height 250px
    z-index 40
    top 24%
    right 8%
.parallax-header__doctor-img5
    position absolute
    top 24%
    left 14%
    width 230px
    height 270px
    z-index 30
.parallax-header-parts1,
.parallax-header-parts2,
.parallax-header-parts3,
.parallax-header-parts4,
.parallax-header-parts5,
.parallax-header-parts6,
.parallax-header-parts7,
.parallax-header-parts8,
.parallax-header-parts9,
.parallax-header-parts10,
.parallax-header-parts11,
.parallax-header-parts12
    position absolute
    width 50px
    z-index 50
.parallax-header-parts1
    bottom 100px
    right 20%
.parallax-header-parts2
    bottom 230px
    left  21%
.parallax-header-parts3
    top 25%
    left 54%
.parallax-header-parts5
    top 33%
    right 31%
.parallax-header-parts6
    top 20%
    left 43%
.parallax-header-parts8
    top 16%
    right 29%
.parallax-header-parts9
    top 16%
    left 33%
.parallax-header-parts10
    bottom 150px
    right 10%
.parallax-header-parts11
    bottom 120px
    left  15%
    z-index 20
    width 60px
.parallax-header-parts12
    position absolute
    top 50%
    right -65px
    width 130px

    img
        display block
        max-width 100%
    +adapt(992px)
        display none