.section-first
    min-height 100vh
    position relative
    padding-top 70px
    +adapt(992px)
        min-height calc(100vh - 50px)
        padding-top 30px
        // background-color #e4efff 
    &:after
        content ''
        display block
        position absolute
        bottom -250px
        right 30px
        width 150px
        height 150px
        background url(../images/parts/circle.png) no-repeat
        background-repeat no-repeat
        background-size cover
        z-index -100
        +adapt(1440px)
            bottom -60px
        +adapt(992px)
            display none

        +adapt(768px)
            right 20px
            bottom 70px
            width 180px
            height 180px
        +adapt(480px)
            display none
    &:before
        content ''
        display block
        position absolute
        bottom -70px
        left 50px
        width 40px
        height 40px
        background url(../images/parts/plus.png) no-repeat
        background-repeat no-repeat
        background-size cover
        z-index -10
        +adapt(1440px)
            bottom 20px
        +adapt(992px)
            display none
.header
    width 100%

.container-home
    margin 0 auto
    padding 0 60px
    max-width 1920px
    +adapt(1400px)
        max-width: 1400px
        width 100%
    +adapt(1200px)
        max-width: 1200px
        width 100%
    +adapt(992px)
        max-width: 992px
        width 100%
    +adapt(768px)
        max-width: 768px
        width 100% 
        padding 0 gap_mob
    +adapt(480px)
        max-width: 480px
        width 100% 
        padding-left gap_mob
        padding-right gap_mob
    +adapt(320px)
        min-width 320px
        
.logo-flex
    display flex
    justify-content space-between
    
    +adapt(1440px)
        display block
    +adapt(992px)
        display flex
        align-items center
        flex-direction column
        
.link-logo
    display block
    width 250px
    height 40px
    text-align center
    +adapt(992px)
        width 200px
        height 35px
    +adapt(1440px)
        &:last-child
            margin-top 30px
.img-logo
    display inline-block
    height 100%
    +adapt(1200px)  
        max-width 100%
    +adapt(992px)
        max-width 100%
.presents
    margin-top 200px
    +adapt(1440px)
        margin-top 50px
    .container-home
        +adapt(992px)
            display flex
            align-items center
            flex-direction column
.checkup-img-wr
    width 150px
    height 100px
    +adapt(1440px)
        width 50px
        height 30px 
.checkup-img
    display block
    max-width 100%
    height 100% 
.presents__shrt-text
    font('robotoSlabBold', 42px, rgb(0, 0, 0))
    text-transform uppercase
    
    +adapt(1440px)
        font-size 32px
    +adapt(1200px)
        font-size 28px
.checkup-box
    width 40%
    position relative
    +adapt(1920px) 
        width 70%
    +adapt(1440px)
        width 60%
    +adapt(1200px)
        width 70%
    +adapt(992px)
        width 100%
        
        
.checkup-item
    display flex
    align-items center
    margin-top 50px
    position relative
    +adapt(1440px)
        margin-top 20px
    +adapt(992px)
        justify-content center
    +adapt(480px)
        flex-direction column 
        align-items center
.checkup__shrt-text
    font('robotoSlabBold', 42px, colorBtn)
    text-transform uppercase
    margin-left 30px
    +adapt(1440px)
        margin-left 10px
        font-size 35px
    +adapt(1200px)
        font-size 30px
    +adapt(480px)
        font-size 25px
.checkup__text
    font('robotoSlabRegular', 30px, text)
    margin-top 50px
    +adapt(1440px)
        margin-top 20px
        font-size 32px
    +adapt(992px)
        font-size 26px
        text-align center
    +adapt(768px)
        font-size 20px
.checkup__mouse
    cursor pointer
    position absolute
    top 260px
    left 200px
    animation opacity 5s infinite
    +adapt(992px)
        display none
.mouse-img-wr
    position relative
    width 44px
    height 65px
.mouse-img
    position absolute
    top 0
    display block
    max-width 100%
    height 100% 
.checkup__mouse-arrow
    width 46px
    position relative
    
.arrow-img1
    position absolute
    // top 5px
    left 50%
    transform translateX(-50%)
    opacity 0
    animation opacity1 2s infinite
    tran(all, .5s)
.arrow-img2
    position absolute
    opacity 0
    // top 21px
    left 50%
    transform translateX(-50%)
    animation opacity2 2s infinite
    tran(all, .5s)
.arrow-img3
    position absolute
    opacity 0
    // top 46px
    left 50%
    transform translateX(-50%)  
    animation opacity3 2s infinite
    tran(all, .5s)
@keyframes opacity
    0%
        transform translate(-50%, 0) 
    50%
        transform translate(-50%,30px)
    100%
        transform translate(-50%, 0)
@keyframes opacity1
    0%,40%
        opacity 0
        // top 5px
    55%
        opacity 1  
    100%
        // top 20px
        transform translate(-50%,10px)
        
@keyframes opacity2
    0%,55%
        opacity 0
        // top 21px
    
    70%
        opacity 1 
    100%
        // top 39px
        transform translate(-50% ,24px)
@keyframes opacity3
    0%,70%
        opacity 0
        // top 46px
    85%
        opacity 1 
    100%
        // top 51px
        transform translate(-50%,36px)

.bcg-mob
    display none
    +adapt(992px)
        display block
        position relative
        margin-top 50px
        width 100%
        height 400px
        &:after
            content ''
            display block
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background url(../images/paralax/layer6.png) no-repeat
            background-repeat no-repeat
            background-size cover
            background-position 50% 50%
            z-index 0