.section-header
    background-color #e4efff
    width 100%
    height 700px
    position relative
    overflow hidden
    +adapt(992px)
        background #fff url(../images/paralax/layer4.png)
        background-position 50% 50%
        background-size cover
.container-header
    position relative
    padding-top 50px
    display flex
    justify-content space-between
    z-index 60
    +adapt(768px)
        flex-direction column
        align-items center
        padding-top 40px
.header-left
    +adapt(768px)
        order 2
        margin-top 20px
.header-right
    +adapt(768px)
        order 1
.header__link-logo
    display block
    width 200px
    &:last-child
        margin-top 20px
.header__link-img-logo
    display block
    width 100%
.header__chk
    display flex
    align-items center
    
.chk__img-wr 
    width 90px
    height 40px
    margin-right 10px
    +adapt(1540px)
        width 50px
        height 30px
        margin-right 5px
   
.chk-img
    display block
    max-width 100%
    height 100%
    
.chk__shrt-text
    font('robotoSlabBold', 42px, colorBtn)
    text-transform uppercase
    +adapt(1540px)
        font-size 30px
    +adapt(768px)
        font-size 23px
.header__backwards
    margin-top 30px
    display flex
    align-items center
    margin-right 10px
    justify-content flex-end
    cursor pointer
    &:hover
        .backwards__img-wr
            transform translateX(-5px)
    +adapt(768px)
        margin-top 20px
        justify-content center
.backwards__img-wr
    position relative
    height 18px
    margin-right 10px
    transition all ease-in-out .3s
.backwards__img
    display block
    max-width 100%
    height 100%
.backwards__shrt-text
    font('robotoSlabBold', 18px, rgba(54, 75, 93, 0.702))
.header__bottom-pic
    position absolute
    bottom 0
    left 0
    width 100%
    z-index 100
    height 190px
    background url(../images/paralax/layer5.png) no-repeat
    +adapt(992px)
        display none
