section.section.section-header
    .container.container-header
        .header-right
            a.header__link-logo(href="https://www.invitro.ru/" target="_blank")
                img(src="assets/images/invpic.png", class="header__link-img-logo", alt="invitro")
            a.header__link-logo(href="https://adindex.ru/")
                img(src="assets/images/adindex.png", class="header__link-img-logo", alt="adindex")
        .header-left
            .header__chk   
                .chk__img-wr 
                    img.chk-img(src="assets/images/playred.png")
                .chk__shrt-text Чекап рекламы
            a(href="https://evgeniysishnenko.github.io/invitro/docs/index.html").header__backwards
                .backwards__img-wr
                    img(src="assets/images/arrow2.png").backwards__img
                .backwards__shrt-text Назад
    include ../common/parallax-header.pug
    .header__bottom-pic 
    