.section-news
    .container-news
        .headline-first Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups. 
        .news__box
            a.news__fancybox__link.group(href="https://www.youtube.com/watch?v=iaxVSQtSNzs&autoplay=0&feature=youtu.be")
                img(src="assets/images/news/pic1.png").news__box-image
                .wr__icon-play
                    img(src="assets/images/news/play.png").icon-play__img