section.section-slider#section-slider
    .container-home.container-slider
        .slider-home
            .slider-left__list
                - for (var i = 1; i < 5; i++) {
                    if i <= 2
                        .slider-left__item
                            a(href="https://www.youtube.com/watch?v=iaxVSQtSNzs&autoplay=0&feature=youtu.be").slider-left__wr-img.group
                                img(src="assets/images/pick.png" class="slider-left-img")
                                .wr__icon-play
                                    img(src="assets/images/play.png").icon-play__img
                    else if i > 2
                        .slider-left__item
                            a(href="https://evgeniysishnenko.github.io/invitro/docs/news.html").slider-left__wr-img
                                img(src="assets/images/pick.png" class="slider-left-img")
                                
                - }
            .slider-right__list
                - for (var i = 1; i < 5; i++) {
    
                    .slider-right__item
                        .slider-right-wr
                            a(href="https://evgeniysishnenko.github.io/invitro/docs/news.html").slider_title Выпуск №
                                =i
                                |. Препарируем самые креативные ролики по мнению Warc Creative
                            .slider_descr В первом выпуске врачи-гинекологи поставят диагноз самой креативной рекламе по версии авторитетного рейтинга
                            a(href="https://evgeniysishnenko.github.io/invitro/docs/news.html").slider_btn-more
                                .btn-more-text  Подробнее
                                .btn-more-arrow
                                    img(src="assets/images/arrow.png" class="more-arrow-img")
    
                - }
    .footer      